{% extends 'index.html' %}

{% block title %}

{% endblock title %}

{% block content %}
<form class="text-center p-5 col-md-12" action="/register-food" method="POST">
    <p class="h4 mb-4">Register The Food</p>
    <div class='form-group'>
        <input type="text" name="food_name" class="form-control mb-4" placeholder="Food Name">
    </div>
    <div class='form-group'>
        <input type="text" name="food_price" class="form-control mb-4" placeholder="Food Price">
    </div>
    <div class="form-group">
        <select class="form-control" name="currency">
        <option class="form-control">Af</option>
        </select>
    </div>
    <div class="form-group">
     <button class="btn btn-info form-group" type="submit">Register Food</button>
    </div>
</form>


{% endblock content %}

