{% extends 'index.html' %}

{% block title %}
{% endblock title %}





{% block content %}

<div class="tab-content tab-transparent-content">
    <div class="tab-pane fade show active" id="business-1" role="tabpanel" aria-labelledby="business-tab">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body text-center">
                <h5 class="mb-2 text-dark font-weight-normal"><strong>Customers</strong></h5>
                <h2 class="mb-4 text-dark font-weight-bold">90</h2>
                <div class="dashboard-progress dashboard-progress-1 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-human-child icon-md absolute-center text-dark"></i></div>
                <p class="mt-4 mb-0">Registered</p>
                </div>
            </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body text-center">
                <h5 class="mb-2 text-dark font-weight-normal"><strong>Rooms</strong></h5>
                <h2 class="mb-4 text-dark font-weight-bold">75</h2>
                <div class="dashboard-progress dashboard-progress-2 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-home-map-marker icon-md absolute-center text-dark"></i></div>
                <p class="mt-4 mb-0">Reserved and Unreserved</p>
                </div>
            </div>
            </div>
            <div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body text-center">
                <h5 class="mb-2 text-dark font-weight-normal"><strong>Foods</strong></h5>
                <h2 class="mb-4 text-dark font-weight-bold">19</h2>
                <div class="dashboard-progress dashboard-progress-3 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-food-fork-drink icon-md absolute-center text-dark"></i></div>
                <p class="mt-4 mb-0">All Kind of Foods</p>
                </div>
            </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body text-center">
                <h5 class="mb-2 text-dark font-weight-normal"><strong>Users</strong></h5>
                <h2 class="mb-4 text-dark font-weight-bold">4</h2>
                <div class="dashboard-progress dashboard-progress-4 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-account-multiple icon-md absolute-center text-dark"></i></div>
                <p class="mt-4 mb-0">Admin and Normar User</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}